<h1>Res</h1>
<p style="color: red;">{{error}}</p>
<p>ingrs</p>

<form action="/api/sessions/reset-password?token={{token}}" method="post">
    <input type="password" placeholder="Nueva Contraseña" name="newPassword">
    <button>Resetear Contraseña</button>
</form>